{% extends "app/layout.html" %}

{% block content %}

<h2>Temo ahogar de amor</h2>
<h3>Jana</h3>

<p>If there were words that felt honest I would use them.
     But sadly I have never been too creative nor honest to depict my minds world onto paper. So here I find myself struggling to explore what
     is on in my mind. What has been on for a while now. Jana has broken up with me two weeks ago, it really didn't come as a surprise but 
    considering all the numbness I feel, I am devastated. Having been a hyperemotional wreckage for pretty much all my life, I am not yet
     sure about whether this apathy is indeed an achievement or another symbol of emotional decay. Ultimately it was another fight that ended it,
     one of those were I was not even sure who I was fighting with. She wouldn't budge, having set her character as static and unchangeable 
    since her last breakup, making out even the slightest compromise as a major sacrifice on her side. That was her fault, that I know. 
    But coming from that I thought I could accept it, I really hoped for a rational way to overcome this. And therein lies again my drastic
     misconceptions. I wanted her because I wanted her to feel like compromising isn't something inherently bad. 
    I loved her for trying to repair her 'something' that might not even constitute a flaw.
     I wanted her to be at ease with someone, to be at ease with herself,
     to live without comprise but to never forget who enables you to do that. 
    I wanted her to be grateful for being with me, for the time I spend yearning for her approval and love, that I never got.
     Demands I uttered might have accelerated her distancing but we were inevitably doomed to fail. 
    Accepting that she just didn't love me the way I wanted to be seen by her, not being understood or just 
    in the end being okay with the fact that she indeed understood me, saw me for who I really am and didn't 
    like it, will be so hard. I am afraid, to suffocate what I love, exploring every inch and flaw. Loving my
    self is hard enough, apparently I will not be able to love someone the way I want to.</p>

{% endblock %}
