{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron" style="background-image:url('/static/app/images/nana.jpg');background-size: 100% 100%;">
    <h1>Jhnnsrs</h1>
    <p class="lead">a life that wants to be lifed</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pictures</h2>
        <p>
            Pictures I took during my various trips around the world.
        </p>
        <p><a class="btn btn-default" href="/contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
